<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login | WebSense AI</title>

    <link rel="preconnect"
          href="https://fonts.googleapis.com">

    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="../static/css/global.css">

    <link rel="stylesheet"
          href="../static/css/login.css">

</head>

<body>

<div class="login-container">

    <div class="left-side">

        <img src="../static/images/hero.jpg"
             alt="AI">

        <h1>Welcome Back</h1>

        <p>

            Continue using WebSense AI
            to analyze websites using
            Artificial Intelligence.

        </p>

    </div>

    <div class="right-side">

        <form class="login-form">

            <h2>Login</h2>

            <input
                type="email"
                placeholder="Email Address">

            <input
                type="password"
                placeholder="Password">

            <button>

                Login

            </button>

            <p>

                Don't have an account?

                <a href="#">

                    Register

                </a>

            </p>

        </form>

    </div>

</div>

<script src="../static/js/login.js"></script>

</body>

</html>